**Importing Libraries**

In [132]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Extracting and arranging Data**

In [135]:
data=pd.read_csv('crack_detection.csv')

In [136]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [137]:
data

,mean_r,std_r,kur_r,skew_r,mean_g,std_g,kur_g,skew_g,mean_b,std_b,...,contrast_r,contrast_g,contrast_b,corr_rg,corr_rb,corr_gb,moment_r,moment_g,moment_b,label
0,107.5734,29.267480,0.744029,0.408828,110.2533,26.953218,1.254689,-0.135613,113.5715,25.422051,...,9.181953,177.0,173.0,162.0,0.951368,0.913876,0.803333,856.585412,726.475939,0
1,178.6713,14.917756,3.192406,0.238175,184.4947,14.882156,3.035196,0.141160,190.8538,14.806283,...,9.207314,142.0,136.0,129.0,0.988325,0.989474,0.976787,222.539456,221.478572,0
2,176.6517,34.618255,-0.146336,-0.421552,161.3083,33.688699,0.057178,-0.521476,147.2760,30.809486,...,9.186737,199.0,200.0,194.0,0.968581,0.967398,0.890845,1198.423587,1134.928451,1
3,113.5760,20.084502,0.719752,0.737728,114.0056,19.536222,0.655846,0.729521,113.6179,18.108592,...,9.197973,146.0,142.0,138.0,0.987383,0.983663,0.961305,403.387224,381.663969,0
4,125.3565,29.251595,0.430344,0.833496,129.5277,28.661968,0.475502,0.804161,131.9745,27.475848,...,9.189257,173.0,176.0,177.0,0.980727,0.986702,0.950291,855.655808,821.508433,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,147.4849,39.849040,-0.413560,-0.713162,143.8830,36.109081,-0.333042,-0.721668,138.3563,32.171850,...,9.180812,196.0,180.0,168.0,0.991360,0.988178,0.968726,1587.945972,1303.865711,1
696,131.6387,22.462007,0.060316,-0.598803,129.3470,20.965238,0.249974,-0.611380,125.9734,18.213953,...,9.199403,169.0,163.0,157.0,0.992205,0.977108,0.954988,504.541762,439.541191,1
697,124.9098,24.410827,-0.014904,0.298252,130.4604,23.675959,-0.086843,0.180634,135.0006,23.404324,...,9.195094,152.0,145.0,143.0,0.981116,0.986397,0.953482,595.888464,560.551032,0
698,100.5366,41.107908,-0.385692,0.309762,98.8532,40.835684,-0.356037,0.269909,98.9559,39.810056,...,9.125664,233.0,231.0,227.0,0.996501,0.997454,0.994056,1689.860060,1667.553050,1
699,138.0759,6.627016,2.339072,0.414758,137.9345,6.328697,2.939153,0.477630,137.8309,5.944956,...,9.209413,93.0,91.0,92.0,0.962479,0.948542,0.926412,43.917339,40.052410,0

**Extraction of Label from Dataset**

In [138]:
y=data['label'].to_numpy()

In [195]:
y.shape

(700, 1)

In [199]:
y=y.reshape((len(y),1))

In [140]:
x=data.loc[:, 'mean_r':'moment_b']

In [141]:
#normalising x so that all the values get comparable
def normalize(x):
  return (x - np.mean(x,axis = 0))/np.std(x,axis = 0)

In [142]:
x=normalize(x)

In [143]:
#inserting x0=1 in the dataset 
x.insert(0,"x0",1)

In [144]:
x

,x0,mean_r,std_r,kur_r,skew_r,mean_g,std_g,kur_g,skew_g,mean_b,...,entropy_g,contrast_r,contrast_g,contrast_b,corr_rg,corr_rb,corr_gb,moment_r,moment_g,moment_b
0,1,-0.991699,-0.047189,-0.013455,0.239067,-0.927425,-0.133530,0.116567,-0.407606,-0.786222,...,-0.202251,-0.175366,-0.036785,-0.022565,-0.235372,-1.376608,-2.499639,-2.241339,-0.214746,-0.296540
1,1,2.165732,-1.524276,0.825300,0.033855,2.647549,-1.435311,0.710483,-0.081248,3.192755,...,1.296339,1.195389,-1.070307,-1.090982,-1.162728,0.138552,0.256280,0.269026,-1.336098,-1.267300
2,1,2.076042,0.503592,-0.318472,-0.759474,1.531045,0.592845,-0.282883,-0.862597,0.949097,...,0.249673,0.083169,0.612858,0.757091,0.663883,-0.670886,-0.548506,-0.974785,0.389818,0.488630
3,1,-0.725126,-0.992437,-0.021771,0.634573,-0.746739,-0.933402,-0.083187,0.612519,-0.783833,...,0.718177,0.690467,-0.952191,-0.917725,-0.909813,0.099940,0.044466,0.044969,-1.016257,-0.959374
4,1,-0.201959,-0.048824,-0.120916,0.749735,0.000702,0.050747,-0.143344,0.700530,0.161280,...,0.229754,0.219410,-0.154902,0.064064,0.186154,-0.172954,0.155234,-0.114437,-0.216390,-0.113859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0.780755,1.042022,-0.410017,-1.110137,0.691958,0.853867,-0.413047,-1.098653,0.489855,...,-0.348760,-0.237068,0.524270,0.179568,-0.066762,0.262974,0.209042,0.152370,1.078714,0.813379
696,1,0.077032,-0.747709,-0.247678,-0.972620,-0.007999,-0.779293,-0.218572,-0.968606,-0.147694,...,0.744293,0.767800,-0.273019,-0.311326,-0.375880,0.297622,-0.194499,-0.046463,-0.837358,-0.848117
697,1,-0.221796,-0.547108,-0.273447,0.106099,0.045615,-0.486960,-0.330923,-0.034703,0.317082,...,0.600155,0.534894,-0.775015,-0.831097,-0.769304,-0.157011,0.144120,-0.068264,-0.675806,-0.615499
698,1,-1.304201,1.171604,-0.400470,0.119939,-1.476378,1.363599,-0.420717,0.070566,-1.538725,...,-3.204625,-3.217736,1.616851,1.652252,1.591239,0.473755,0.547203,0.518960,1.258956,1.512497
699,1,0.362905,-2.377682,0.532969,0.246199,0.405518,-2.357743,0.678446,0.315501,0.462804,...,1.412368,1.308829,-2.517239,-2.390409,-2.202491,-0.921065,-1.235904,-0.460038,-1.652003,-1.616056

**TRAIN, TEST, SPLIT**

In [163]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)
x_train, x_val, y_train, y_val = train_test_split(x_train,y_train, test_size=0.2)

Training Dataset

In [164]:
#length of training dataset
ns=y_train.shape[0]

In [165]:
theta=np.random.randn(len(x_train.columns),1)

In [166]:
theta

array([[-0.39751506],
       [-0.36826988],
       [ 0.85951343],
       [-0.1978367 ],
       [-0.05068397],
       [-0.1378201 ],
       [-0.81951   ],
       [ 1.35032657],
       [-1.17350281],
       [-0.66230823],
       [ 0.21561431],
       [-1.32266825],
       [ 2.32523685],
       [ 0.0907221 ],
       [ 1.30290335],
       [ 0.03410141],
       [ 0.8950472 ],
       [ 0.90123751],
       [ 1.10699638],
       [ 1.98945824],
       [-0.58106599],
       [ 0.7168504 ],
       [-0.36284038],
       [-0.26490937]])

In [167]:
theta.shape

(24, 1)

In [168]:
def sigmoid(x):
  func=1/(1+np.exp(-x))
  return func

In [170]:
print(y_train.shape)

(448, 1)

**Training**

In [171]:
L=[]
for i in range(50000):
  z=np.dot(x_train,theta) 
  y_pred=sigmoid(z)
  theta-=((1/ns)*(np.dot(x_train.T, (y_pred - y_train))))*0.001              #updating weights
  loss=(np.sum(-y_train*np.log(y_pred)- (1-y_train)*np.log(1-y_pred)))/ns    #finding loss according to the formula
  L.append(loss)
  if(i%5000==0):
    print("Epoch: ", i, "Loss: ",loss)

Epoch:  0 Loss:  1.040499590833095
Epoch:  5000 Loss:  0.5519765850120774
Epoch:  10000 Loss:  0.50765262916606
Epoch:  15000 Loss:  0.48984395845432377
Epoch:  20000 Loss:  0.4796963225473904
Epoch:  25000 Loss:  0.47245643784994545
Epoch:  30000 Loss:  0.46660829395747744
Epoch:  35000 Loss:  0.46155587120429703
Epoch:  40000 Loss:  0.4570150855295528
Epoch:  45000 Loss:  0.4528326446236259

In [172]:
y_pred.shape

(448, 1)

**Classifying as Crack(1) and non-crack(0)**

In [178]:
def predict(y_pred):
  y_pred_t=[]
  for i in y_pred:  
      if i>=0.5:
        y_pred_t.append(1)
      else:
        y_pred_t.append(0)
  return y_pred_t

**Accuracy**

In [181]:
def accuracy(y,y_pred_t):
  correct_pre=0
  for i in range(len(y)):
    if y_pred_t[i]==y[i]:
      correct_pre+=1
  accuracy=correct_pre*100/len(y)
  return accuracy

**Validation Set**

In [182]:
y_val_t=np.dot(x_val,theta)
y_val_t=sigmoid(y_val_t)
y_val_t=predict(y_val_t)
print("Validation set accuracy" , accuracy(y_val,y_val_t))

Validation set accuracy 76.78571428571429

**Test Set**

In [184]:
y_test_t=np.dot(x_test,theta)
y_test_t=sigmoid(y_test_t)
y_test_t=predict(y_test_t)
print("Test set accuracy" , accuracy(y_test,y_test_t))

Test set accuracy 79.28571428571429

**F1 Score**

In [188]:
def F1score(y_pred,y_pred_t):
  TP=0
  TN=0
  FP=0
  FN=0
  for i in range(len(y_pred)):
    if y_pred[i]==1 and y_pred_t[i]==1:
      TP+=1
    elif y_pred[i]==0 and y_pred_t[i]==0:
      TN+=1
    elif y_pred[i]==1 and y_pred_t[i]==0:
      FP+=1
    elif y_pred[i]==0 and y_pred_t[i]==1:
      FN+=1
  precision=TP/(TP+FP)
  recall=TP/(TP+FN)    
  F1_score=2*(precision*recall)/(precision+recall)
  return F1_score

In [201]:
# print(F1score(y_train,y_pred))
print("F1 Score of validation set is", F1score(y_val,y_val_t))
print("F1 Score of test set is", F1score(y_test,y_test_t))

F1 Score of validation set is 0.7903225806451614
F1 Score of test set is 0.802721088435374